<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!--웹폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <!--js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <title>login</title>
    <style>
        * {
            font-family: 'GmarketSansMedium';
        }

        @font-face {
            font-family: 'GmarketSansBold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .box {
            margin: 20px auto 10px auto;
            width: 800px;
            background-color: rgba(47, 138, 241, 0.1);
            border-radius: 20px;
        }

        .media {
            margin: auto;
            width: 800px;
            padding: 20px;
        }

        .media-content {
            width: 800px;
            max-width: 100vw;
        }

        .emotion {
            width: 30px;
            height: 30px;
            margin-right: 50px;
            display: inline-block;
        }

        .feeling_div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script>

        //포스팅 저장하기 함수
        function write_emotion() {
            // text-box 클래스에 입력된 값 추출
            let text = $('#text-box').val();
            // 현재의 날짜와 시간을 문자열로 반환하여 추출
            let today = new Date().toISOString();
            $.ajax({
                type: "POST",
                url: "/write",
                data: {text_give: text, data_give: today},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload();
                }
            })
        }

        //포스팅 보여주기 함수
        function show_emotion() {
            $.ajax({
                type: "GET",
                url: "/posing",
                data: {},
                success: function (response) {
                    if (response['result'] == "success") {
                        // response 값을 posts로 설정
                        let posts = response["posts"]
                        for (let i = 0; i < posts.length; i++) {
                            // wirtes 에서 각 document 추출하여 설정
                            let date = posts[i]['data'].slice(0, 10)
                            let text = posts[i]['text']
                            let nickname = posts[i]['nickname']
                            let like = posts[i]['like']
                            let post = posts[i]['_id']
                            // 포스팅 카드의 형식을 가져와 추출된 변수들을 각자의 위치에 맞게 대입
                            let temp_html = `<div class="box" id="${post}">
                                            <article class="media">
                                                <div class="media-left">
                                                    <figure class="image is-64x64">
                                                        <img src="https://cdn-icons-png.flaticon.com/512/569/569501.png" alt="Image">
                                                    </figure>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content">
                                                        <p>
                                                            <strong>${nickname}</strong> <small>${date}</small>
                                                            <br>
                                                                ${text}
                                                        </p>
                                                    </div>
                                                    <nav class="level is-mobile">
                                                            <div class="feeling_div">
                                                                <div class="level-item">
                                                                    <a class="button is-info has-text-white is-focus" onclick="likepost ('${text}')" style="background-color: steelblue"> 좋아요 : ${like}</a>
                                                                </div>
                                                            </div>
                                                        </nav>
                                                </div>
                                                <div>
                                                    <div class="emotion">
                                                        <a href="#" onclick="deletepost('${text}')">
                                                            <img src="static/delete.png">
                                                        </a>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>`
                            // temp_html을 각 포스팅 카드에 대입
                            $('#post_box').append(temp_html)
                        }
                    }
                }
            })
        }

        $(document).ready(function () {
            show_emotion();
        })

        //삭제하기 함수
        function deletepost(text) {
            $.ajax({
                type: 'POST',
                url: '/detail/delete',
                data: {text_give: text},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload();
                }
            });
        }
        // 좋아요 함수
        function likepost (text){
            $.ajax({
                type: 'POST',
                url: '/detail/like',
                data: { text_give: text },
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload();
                }
            });
        }

    </script>
</head>
<body>
<section class="hero is-medium" style="background-color: steelblue; height: 300px">
    <div class="hero-body">
        <p class="title" style="font-family: GmarketSansBold; color: white">
            토닥도닥 감정다이어리
        </p>
        <p class="subtitle has-text-white">
            {{ user_info.nickname }}
        </p>
    </div>
</section>
<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://cdn-icons-png.flaticon.com/512/569/569501.png" style="margin-top: 20px">
        <p id="nickname" class="subtitle has-text-centered " style="margin-top: 10px;">{{ user_info.nickname }}</p>
        </p>
    </figure>
    <div class="media-content">
        <div class="field">
            <p class="control">
                <input class="input is-rounded textarea" type="text" placeholder="Rounded input" id="text-box">
            </p>
        </div>
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <a class="button is-info has-text-white is-focus " onclick="write_emotion()"
                       style="background-color: steelblue">작성하기</a>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                </div>
            </div>
        </nav>
    </div>
</article>
<div id="post_box">
</div>
</body>
</html>